{% assign item = product %}
{% if section.settings.stock_overlay_show and item.available %}
  {% assign total = 0 %}
  {% assign threshold = section.settings.stock-overlay-threshold %}
  {% assign infinity = false %}
  {% for variant in item.variants %}
    {% if variant.inventory_management == null or variant.inventory_management == '' %}
      {% assign infinity = true %}
    {% elsif infinity == false %}
      {% capture temp %}{{ total | plus: variant.inventory_quantity }}{% endcapture %}
      {% assign total = temp | times: 1 %}
    {% endif %}
  {% endfor %}
{% endif %}

{% unless item.featured_media %}
  {%- capture index -%}
    {%- cycle '1', '2', '3', '4', '5', '6' -%}
  {%- endcapture -%}
  {% assign placeholder_image_style = 'product-' | append: index %}

  {%- capture placeholder_background_image -%}
    {%-
      render 'placeholder_svg_uri',
      placeholder: placeholder_image_style
    -%}
  {%- endcapture -%}

  {%- capture background_style -%}
    style="background-image: url('{{ placeholder_background_image }}');"
  {%- endcapture -%}
  {%- capture image -%}
    {{ placeholder_image_style | placeholder_svg_tag: 'placeholder-svg collection-alternating-image' }}
  {%- endcapture -%}
{% else %}
  {%- capture background_style -%}
    {%
      render 'rimg',
      background: true,
      img: item.featured_media.preview_image,
      size: '1024x1024',
      crop: 'center',
      lazy: true
    %}
  {%- endcapture -%}
  {%- capture image -%}
    {%
      render 'rimg',
      class: 'collection-alternating-image',
      img: item.featured_media.preview_image,
      size: '1024x1024',
      crop: 'center',
      lazy: true
    %}
  {%- endcapture -%}
{% endunless %}

<div
  class="
    collection-alternating-product
    style-light
    media-aligned-{{ collection_alternating_cycle }}
  "
>
  <div class="collection-alternating-section collection-alternating-media">
    <a
      class="
        collection-alternating-cover
        {% unless item.featured_media %}
          collection-alternating-cover-placeholder
        {% endunless %}
      "
      href="{{ item.url }}"
      {{ background_style }}
    >
      {{ image }}
    </a>

    {% if section.settings.stock_overlay_show and item.available and infinity == false and total < threshold %}
      <div class="stock-badge">
        {{ 'products.product.stock_level' | t: stock_count: total }}
      </div>
    {% endif %}
    {% if item.compare_at_price_min > item.price_min and item.available %}
      <div class="sale-badge">
        {{ 'products.product.sale' | t }}
      </div>
    {% endif %}
  </div>
  <div class="collection-alternating-section collection-alternating-content">
    <div class="collection-alternating-text-wrapper">
      <a class="module-title collection-alternating-title" href="{{ item.url }}">
        {{ item.title }}
      </a>
      <div class="module-meta collection-alternating-meta">
        {% if item.available %}
          {% comment %}Inject product-item-price begin{% endcomment %}
          {% comment %}
           @param item {Product} Product to use for pricing
          {% endcomment %}
          
          {% if item.price_varies %}
            <span class="price">
              {% if item.price_varies %}{{ 'products.product.from' | t }}{% endif %} <span class="money">{{ item.price_min | money }}</span>
            </span>
          {% else %}
            <span class="price">
              <span class="money">{{ item.price_min | money }}</span>
              {% unless item.compare_at_price_min <= item.price_min %}
                <span class="original money">
                  {% if item.compare_at_price_min > item.price_min %}
                    {{ item.compare_at_price_min | money }}
                  {% endif %}
                </span>
                <span class="saving">
                  {% if item.compare_at_price > item.price %}
                    {{ "products.product.saving" | t }}
                      <span class="saving-result money">
                      {{ item.compare_at_price_min | minus: item.price | money }}
                      </span>
                  {% endif %}
                </span>
              {% endunless %}
            </span>
          {% endif %}
          {% assign variant_for_unit_price = item.variants | sort: 'price' | first %}
          {% if variant_for_unit_price.unit_price_measurement %}
            {% capture total_quantity %}<span class="product-item__total-quantity" data-total-quantity>{{ variant_for_unit_price.unit_price_measurement.quantity_value }}{{ variant_for_unit_price.unit_price_measurement.quantity_unit }}</span>{% endcapture %}
            {% capture unit_price %}<span class="product-item__unit-price-amount money" data-unit-price-amount>{{ variant_for_unit_price.unit_price | money }}</span>{% endcapture %}
            {% capture unit_measure %}<span class="product-item__unit-price-measure" data-unit-price-measure>{%- if variant_for_unit_price.unit_price_measurement.reference_value != 1 -%}{{ variant_for_unit_price.unit_price_measurement.reference_value }}{%- endif %}{{ variant_for_unit_price.unit_price_measurement.reference_unit }}</span>{% endcapture %}
          
            <div
              class="product-item__unit-price"
              data-unit-price
            >
              {{ 'products.product.price_per_unit_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
            </div>
          {% endif %}
          {% comment %}Inject product-item-price end{% endcomment %}

        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </div>
      <div class="module-text collection-alternating-text">
        {% if item.description contains 'tabs' and item.description contains 'tabs-content' %}
          {% assign desc_array = item.description | split: '</ul>' %}
          {% assign desc = desc_array[1] %}
        {% else %}
          {% assign desc = item.description %}
        {% endif %}
        {{ desc | strip_html | truncate: 250 }}
      </div>
      <div class="module-text collection-alternating-cta">
        <a class="button outline collection-button" href="{{ item.url | within: collection }}">
          {{ "customer.orders.order" | t }}
          <span class="icon icon-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>