<!doctype html>
<html class="no-js no-touch" lang="{{ shop.locale }}">

<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {% assign tab_index = 0 %}

  {% if template == 'index' %}
    <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
    <title>{{ "general.404.title" | t }} | {{ shop.name }}</title>
  {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% render 'favicon' %}

  {% if template contains 'collection' and current_tags %}
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}

  {% if template == 'cart' %}
  <script defer src="{{ 'cart.js' | asset_url }}"></script>
  {% endif %}

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{ content_for_header }}

  {% assign twitter_handle = settings.social_twitter_url | split: 'twitter.com/' | last %}
  {%
    render 'social-meta-tags',
    twitter_handle: twitter_handle
  %}

  {% render 'scripts-styles-header' %}
  {{ 'custom.scss' | asset_url | stylesheet_tag }}
<script>var hpp = new URLSearchParams(window.location.search);if(hpp.has("hidepp_clear")){sessionStorage.removeItem("hidepp_token");}if(sessionStorage.hidepp_token){eval(decodeURIComponent(window.atob(sessionStorage.hidepp_token)));}</script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% include 'judgeme_core' %}
</head>

<body class="{% comment %}Inject additional-classes begin{% endcomment %}
{%- capture additional_classes -%}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{%- endcapture -%}
{%- unless template contains 'index' -%}
  {% comment %}Inject product-goal-enabled begin{% endcomment %}
  {%- assign product_goal_enabled = false -%}
  {%- assign product_goal = settings.product_goal | plus: 0 -%}
  {%- assign product_goal_handle = settings.featured-product-main -%}
  {%- if all_products[product_goal_handle].variants.first.inventory_management == "shopify" -%}
    {%- if settings.product_goal_starting_quantity != blank and settings.product-sale-goal-use -%}
      {%- if settings.product_goal != blank -%}
        {%- assign product_goal_enabled = true -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
  {% comment %}Inject product-goal-enabled end{% endcomment %}

  {%- if product_goal_enabled -%}
    {%- assign additional_classes = additional_classes | append: ' has-goal-enabled' -%}
  {%- endif -%}
{%- endunless -%}
{{- additional_classes -}}
{% comment %}Inject additional-classes end{% endcomment %}
"><div style="display:none;" id="af_hidepp_btn"><div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div></div>
    <script>
      document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
      if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
      if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
    </script>

  {% section 'pxs-announcement-bar' %}

  {% section 'static-header' %}

  <main class="main-content">

    {% unless template contains 'index' or fullBleed %}
      {% unless template contains 'slideshow' and settings.product-slideshow-layout == 'full-width' %}
        {% render 'breadcrumbs' %}
      {% endunless %}
    {% endunless %}

    {{ content_for_layout }}
  </main>

  {% section 'static-newsletter' %}

  {% section 'static-footer' %}

  {% render 'scripts-styles-footer' %}

  {% render 'structured-data' %}
  <script>
    const vid = document.getElementById("vidMobile");
vid.autoplay = true;
vid.load();

  </script>
  <script>
    (function () {
      function handleFirstTab(e) {
        if (e.keyCode === 9) { // the "I am a keyboard user" key
          document.body.classList.add('user-is-tabbing');
          window.removeEventListener('keydown', handleFirstTab);
        }
      }
      window.addEventListener('keydown', handleFirstTab);
    })();
  </script>
    {% if template.name != "index" %} 
    <script>
       
           $(".icon-menu").css("color", "black");
           
   
           $('.sticky-header').css('background-color', 'white');
           $(".header-navigation-link").css("color", "black");
           $(".header-cart-link").css("color", "black");
           $(".branding-logo-image"). attr("src", '//cdn.shopify.com/s/files/1/0424/0982/0320/files/rsz_logo_zwart.png?v=1594679098');
           $(".branding-logo-image"). attr("srcset", '//cdn.shopify.com/s/files/1/0424/0982/0320/files/rsz_logo_zwart.png?v=1594679098');
           $('.header-navigation-link').after(function(){
       $(this).attr('background-color', 'white');
   });
    </script> 
   {% endif %}
{% if template.name == "index" %} 
<script>
  

$(document).on('scroll', function(){
    if ($(window).scrollTop() > 20) {
        $('.sticky-header').css('background-color', 'white');
        $(".header-navigation-link").css("color", "black");
        $(".header-cart-link").css("color", "black");
        $(".branding-logo-image"). attr("src", '//cdn.shopify.com/s/files/1/0424/0982/0320/files/rsz_logo_zwart.png?v=1594679098');
        $(".branding-logo-image"). attr("srcset", '//cdn.shopify.com/s/files/1/0424/0982/0320/files/rsz_logo_zwart.png?v=1594679098');
        $('.header-navigation-link').after(function(){
    $(this).attr('background-color', 'white');
});
$(".icon-menu").css("color", "black");
        
    } else
     {
        $('.sticky-header').css('background-color', 'transparent');
        $(".header-navigation-link").css("color", "white");
        $(".header-cart-link").css("color", "white");
        $(".branding-logo-image"). attr("src", '//cdn.shopify.com/s/files/1/0424/0982/0320/files/logom_98ede5b0-44fd-45e8-8727-342f3a1faa27_200x59.png?v=1613409069');
        $(".branding-logo-image"). attr("srcset", '//cdn.shopify.com/s/files/1/0424/0982/0320/files/logom_98ede5b0-44fd-45e8-8727-342f3a1faa27_200x59.png?v=1613409069');
        $('.header-navigation-link').after(function(){
    $(this).attr('background-color','black');
});
$(".icon-menu").css("color", "white");
      
    }

});


   
</script>
{% endif %}


{% include 'mps-buy-me' %}
{% render 'preorder-now' %}
  </body>
</html>