<div
  class="module-wrapper style-{{ section.settings.style }} border"
  data-section-id="{{ section.id }}"
  data-section-type="text-columns">
  <div class="module dynamic-inline">

    {% if section.settings.title != blank %}
      <div class="module-header dynamic-inline-header">
          <div class="module-title">
            <h3>{{ section.settings.title | escape }}</h3>
          </div>
        {% if section.settings.subtitle != blank %}
          <div class="module-subtitle">
            {{ section.settings.subtitle | escape }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="module-body dynamic-inline-body">
      <div
        class="
          list
          column-{{ section.settings.columns-per-row }}
          clearfix
        "
      >

        {% for block in section.blocks %}

          <div
            class="
              list-item
              list-item-inline
              {% if block.settings.icon != blank  %}
                has-icon
              {% endif %}
            "
            {{ block.shopify_attributes }}
          >
            {% if block.settings.icon != blank %}
              <div class="list-image-wrapper">
                {%
                  render 'font-icon',
                  icon: block.settings.icon,
                  class: 'list-item-icon',
                  title: block.settings.title
                %}
              </div>
            {% endif %}

            <div class="list-text-wrapper">
              {% if block.settings.title != blank %}
                <div class="list-title">
                  {{ block.settings.title | escape }}
                </div>
              {% endif %}

              {% if block.settings.text != blank %}
                <div class="list-text">
                  {{ block.settings.text }}
                </div>
              {% endif %}

              {% if block.settings.button_text != blank and block.settings.button_link != blank %}
                <div class="list-cta">
                  <a class="button list-button" href="{{ block.settings.button_link }}">
                    {{ block.settings.button_text | escape }}
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Text columns with icons",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "Background style",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "light",
          "label": "Light"
        }
      ],
      "default": "default"
    },
    {
      "type": "range",
      "id": "columns-per-row",
      "label": "Columns per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Text columns with icons"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading"
    }
  ],
  "blocks": [
    {
      "type": "text_column",
      "name": "Column",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Feature title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Display up to six features with an option to toggle icons on or off, and add unique calls to action.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "Icon name",
          "default": "image",
          "info": "[Click here](http:\/\/ionicons.com\/) to view the list of available icons. Example: bluetooth"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Text columns with icons",
      "blocks": [
        {
          "type": "text_column"
        },
        {
          "type": "text_column"
        },
        {
          "type": "text_column"
        }
      ]
    }
  ]
}

{% endschema %}