<div class="module-wrapper style-{{ section.settings.style }}">
  <div class="module side contact crop one-child">
    <div class="module-body">
      <div class="side-wrapper">
        <div class="side-section right">
          <div class="side-text-wrapper">
              <div class="module-title side-title contact-form-title">
                <h3>{{ 'contact.header' | t }}</h3>
              </div>
            <div class="module-text side-text">
              <div class="contact-item contact-form">
                {% form 'contact', id: 'contact-form' %}
                  {% if form.errors %}
                    <div class="contact-form-error-message">
                      {{ 'contact.error' | t }}
                    </div>
                  {% endif %}
                  <div class="input-wrapper first">
                    <input
                      type="text"
                      id="contact[name]"
                      placeholder="{{ 'general.general.name_placeholder' | t }}"
                      aria-label="{{ 'general.general.name_placeholder' | t }}"
                      value=""
                      name="contact[name]"
                      class="{% if form.errors contains 'author' %}error{% endif %}">
                  </div>
                  <div class="input-wrapper">
                    <input
                      type="text"
                      id="contact[email]"
                      placeholder="{{ 'general.general.email_placeholder' | t }}"
                      aria-label="{{ 'general.general.email_placeholder' | t }}"
                      value=""
                      name="contact[email]"
                      class="{% if form.errors contains 'email' %}error{% endif %}">
                  </div>
                  <div class="input-wrapper">
                    <textarea
                      id="contact[body]"
                      placeholder="{{ 'general.general.message' | t }}"
                      aria-label="{{ 'general.general.message' | t }}"
                      name="contact[body]"
                      rows="6"
                      class="{% if form.errors contains 'body' %}error{% endif %}"></textarea>
                  </div>
                  <div class="input-wrapper last">
                    <input
                      class="button outline contact-form-button"
                      type="submit"
                      value="{{ 'general.general.submit' | t }}"
                      aria-label="{{ 'general.general.submit' | t }}"
                    >
                  </div>
                  {% if form.posted_successfully? %}
                    <div class="success-message contact-form-success">
                      <span class="icon icon-check contact-form-success-icon"></span>
                    </div>
                  {% endif %}
                {% endform %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact form",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "Background style",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        }
      ],
      "default": "light"
    }
  ]
}
{% endschema %}