{% if section.settings.enable and section.blocks.size > 0 %}
  <script
    type="application/json"
    data-section-type="static-slideshow"
    data-section-id="{{ section.id }}"
    data-section-data
  >
    {
      "autoplay_speed": {{ section.settings.autoplay_speed | times: 1000 | json }},
      "layout": {{ section.settings.layout | json }},
      "enable_autoplay": {{ section.settings.autoplay | json }}
    }
  </script>

  {% assign image_size = '2048x' %}

  <section
    class="static-slideshow-wrapper {{ section.settings.layout }} {{ section.settings.transition }}"
    {% if section.settings.layout == 'full-window' %}
    {% comment %} This data attribute is used by the header {% endcomment %}
      data-full-window-slideshow
    {% endif %}
    >

    <div class="static-slideshow-loader"></div>

    {% if section.blocks.size > 1 %}
      <a
        class="static-slideshow-navigation static-slideshow-previous icon icon-angle-left"
        href="#"
        tabindex="0"
        aria-label="{{ 'home.slideshow.prev' | t }}"
      >
        <span tabindex="-1"></span>
      </a>
      <a
        class="static-slideshow-navigation static-slideshow-next icon icon-angle-right"
        href="#"
        tabindex="0"
        aria-label="{{ 'home.slideshow.next' | t }}"
      >
        <span tabindex="-1"></span>
      </a>

      <div class="static-slideshow-pagination">
        {% for block in section.blocks %}
          {%- capture pagination_class -%}
            pagination-list-item
            pagination-slide-{{ forloop.index }}
            {% if forloop.first %}active{% endif %}
          {%- endcapture %}
          <span
            data-slide-id="dynamic-slide-{{ forloop.index }}"
            class="{{ pagination_class | strip_newlines }}">
            <span></span>
          </span>
        {% endfor %}
      </div>
    {% endif %}

    <div class="static-slideshow" data-slideshow-content>
      {% for block in section.blocks %}
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}

        {% assign has_content = true %}
        {% assign onboarding = false %}
        {% if
          block.settings.title == blank and
          block.settings.subtitle == blank and
          block.settings.cta == blank and
          block.settings.button == blank %}
          {% assign has_content = false %}
          {% assign onboarding = true %}
        {% endif %}

        {% assign placeholder_image_style = 'lifestyle-' | append: current %}
        {%- capture placeholder_background_image -%}
          {%-
            render 'placeholder_svg_uri',
            placeholder: placeholder_image_style
          -%}
        {%- endcapture -%}

        {%- capture background_image_style -%}
          {%- if block.settings.image -%}
            {%
              render 'rimg',
              background: true,
              crop: 'center',
              img: block.settings.image,
              size: image_size,
              lazy: true
            %}
          {%- else -%}
            style="background-image: url('{{ placeholder_background_image }}');"
          {%- endif -%}
        {%- endcapture -%}

        {%- capture block_class -%}
          dynamic-slide
          dynamic-slide-{{ forloop.index }}
          {% if forloop.first %}active{% endif %}
          text-aligned-{{ block.settings.alignment }}
          overlay
          overlay-{{ block.settings.overlay_style }}
          overlay-opacity-{{ block.settings.overlay_opacity | divided_by: 10 }}
        {%- endcapture %}
        <div
          id="dynamic-slide-{{ forloop.index }}"
          class="{{ block_class | strip_newlines }}"
          {% if section.settings.slideshow-layout == 'full-window' %}
            {{ background_image_style }}
          {% endif %}
          data-slide-text="{{ block.settings.text_style }}"
          data-slide="{{ forloop.index }}"
          {{ block.shopify_attributes }}>

          <div
            class="slide-image-container"
            {{ background_image_style }}
          >

            {% if block.settings.url != blank and block.settings.image %}
              <a class="slide-image-link" href="{{ block.settings.url }}">
            {% endif %}

            {% if block.settings.image %}
              {%
                render 'rimg',
                class: 'slide-image',
                img: block.settings.image,
                crop: 'center',
                size: image_size,
                lazy: true
              %}
            {% else %}
              {{ placeholder_image_style | placeholder_svg_tag: 'placeholder-svg slide-image' }}
            {% endif %}

            {% if block.settings.url != blank and block.settings.image %}
              </a>
            {% endif %}
          </div>

          {% if block.settings.cta == blank and block.settings.url != blank %}
            <a class="slide-image-link" href="{{ block.settings.url }}">
          {% endif %}

          {% if has_content %}
            <div class="slide-text {{ block.settings.text_style }}">
              {% if block.settings.title != blank %}
                <h2 class="slide-text-heading">{{ block.settings.title | escape }}</h2>
              {% endif %}

              {% if block.settings.subtitle != blank %}
                <p class="slide-text-subheading">{{ block.settings.subtitle | escape }}</p>
              {% endif %}

              {% if block.settings.cta != blank and block.settings.url != blank %}
                <a class="button outline" href="{{ block.settings.url }}">
                  <span>{{ block.settings.cta | escape }}</span>
                  <span class="icon icon-arrow-right"></span>
                </a>
              {% endif %}
            </div>
          {% endif %}

          {% if block.settings.cta == blank and block.settings.url != blank %}
            </a>
          {% endif %}

        </div>
      {% endfor %}
    </div>

  </section>
{% endif %}

{% schema %}
{
  "name": "Slideshow",
  "max_blocks": 6,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable",
      "default": true
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "full-window",
          "label": "Full window"
        }
      ],
      "default": "full-width",
      "info": "[Style examples](https:\/\/support.pixelunion.net\/hc\/en-us\/articles\/360026622093-Using-Launch-s-sections-Slideshow)"
    },
    {
      "type": "select",
      "id": "transition",
      "label": "Transition",
      "options": [
        {
          "value": "transition-slide",
          "label": "Slide"
        },
        {
          "value": "transition-fade",
          "label": "Fade"
        }
      ],
      "default": "transition-fade"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 5,
      "max": 10,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 7
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate slides",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "select",
          "id": "alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Text style",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "light"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "overlay_style",
          "label": "Overlay",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "gradient",
              "label": "Gradient"
            },
            {
              "value": "primary",
              "label": "Primary color"
            },
            {
              "value": "secondary",
              "label": "Secondary color"
            },
            {
              "value": "black",
              "label": "Black"
            }
          ],
          "default": "gradient"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 10,
          "max": 90,
          "step": 10,
          "unit": "%",
          "default": 70
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Slideshow"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subheading",
          "default": "Introduce customers to your shop with lifestyle imagery and product photography."
        },
        {
          "type": "text",
          "id": "cta",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "slide",
        "settings": {
          "title": "Slideshow",
          "subtitle": "Introduce customers to your shop with lifestyle imagery and product photography."
        }
      },
      {
        "type": "slide",
        "settings": {
          "title": "Slideshow",
          "subtitle": "Introduce customers to your shop with lifestyle imagery and product photography."
        }
      }
    ]
  }
}

{% endschema %}