<script
  type="application/json"
  data-section-type="static-password"
  data-section-id="{{ section.id }}"
></script>

<header class="header">
  <div class="main-header-wrapper">
    <div class="main-header" role="banner">
      <h1>
        <a href="{{ routes.root_url }}">
          {%
            render 'header-logos',
            default_logo: section.settings.password_logo,
          %}
        </a>
      </h1>
    </div>
  </div>
</header>

<main class="main-content">
  <div class="password-page-header">
    <div class="password-page-title module-title">
      <h1>{{ 'password.general.opening_soon' | t }}</h1>
    </div>

    {% if shop.password_message != blank %}
      <p class="password-page-subheader">{{ shop.password_message }}</p>
    {% endif %}
  </div>

  {% if section.settings.newsletter_title != blank %}
    <h2 class="password-page-newsletter-title">{{ section.settings.newsletter_title }}</h2>
  {% endif %}

  {% if section.settings.newsletter_text != blank %}
    <div class="password-page-subheader">{{ section.settings.newsletter_text }}</div>
  {% endif %}

  <div class="password-subscribe-wrapper visible">
    {% form 'customer', class: 'password-subscribe-form' %}
      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}
        <p class="form-success">{{ 'password.general.subscribe_form_success' | t }}</p>
      {% else %}
        <input
          class="newsletter-input"
          type="text"
          name="contact[email]"
          id="email"
          aria-label="{{ 'general.general.email_placeholder' | t }}"
          placeholder="{{ 'general.general.email_placeholder' | t }}" />
        <input
          class="submit password-button"
          name="commit"
          type="submit"
          value="{{ 'password.general.subscribe' | t }}"
          aria-label="{{ 'password.general.subscribe | t' }}" />
        <input type="hidden" name="contact[tags]" value="prospect, password page">
      {% endif %}
    {% endform %}

    <p class="form-success hidden">{{ 'password.general.subscribe_form_success' | t }}</p>
  </div>

  <div class="password-form-wrapper">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <div class="{% if form.errors %}has-errors{% endif %}" data-password-form-inner>
        <input
          class="password-input"
          type="password"
          name="password"
          id="password"
          placeholder="{{ 'password.general.use_password' | t }}"
          aria-label="{{ 'password.general.use_password' | t }}"
          autofocus />
        <input
          class="submit password-button"
          name="submit"
          type="submit"
          value="{{ 'password.general.submit' | t }}"
          aria-label="{{ 'password.general.submit' | t }}" />
      </div>
    {% endform %}
  </div>

  <a class="password-entry" href="#" data-enter-password="{{ 'password.general.use_password' | t }}" data-cancel="{{ 'password.general.cancel' | t }}">{{ 'password.general.use_password' | t }}</a>
</main>

{% schema %}
{
  "name": "Password pages",
  "class": "section-password",
  "settings": [
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Heading",
      "default": "Subscribe"
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "password_logo",
      "label": "Logo image"
    }
  ]
}

{% endschema %}