<div
  class="
    footer-wrapper style-{{ section.settings.style }}
    {% if section.settings.enable_borders %}has-borders{% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="static-footer"
>
  <footer class="main-footer">
    {% if section.blocks.size or section.settings.show_logo %}
      <div class="footer-row footer-columns clearfix">
        {% if section.settings.show_logo %}
          <div class="footer-column footer-logo">
            <a class="footer-logo-link" href="{{ routes.root_url }}">
              {% if section.settings.footer_logo or section.settings.footer_logo_alternate %}
                {% assign logo_image = blank %}

                {% if section.settings.footer_logo_alternate and section.settings.style == 'dark' %}
                  {% assign logo_image = section.settings.footer_logo_alternate %}
                {% else %}
                  {% assign logo_image = section.settings.footer_logo %}
                {% endif %}

                {%
                  render 'rimg',
                  class: 'footer-logo-image',
                  img: logo_image,
                  alt: logo_alt,
                  size: '200x100',
                  lazy: false
                %}
              {% else %}
                <h2 class="branding-logo">{{ shop.name }}</h2>
              {% endif %}
            </a>
          </div>
        {% endif %}

        {% for block in section.blocks %}
          {% if block.type == 'menu' %}
            {% assign menu = block.settings.menu %}
            {% if linklists[menu].links != blank %}
              <div class="footer-column footer-menu">
                <h4 class="footer-title footer-menu-title">{{ linklists[menu].title }}</h4>
                <ul class="footer-menu-list">
                  {% for link in linklists[menu].links %}
                    <li class="footer-menu-list-item">
                      <a class="footer-menu-list-item-anchor" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endif %}

          {% if block.type == 'social_media' %}
            {% assign social_media = 'Facebook|Twitter|Pinterest|Instagram|Vimeo|YouTube|RSS'  %}
            {% assign social_media_accounts = social_media | downcase | replace: '+', '' | split: '|' %}
            {% assign social_media_titles = social_media | split: '|' %}
            {% assign has_links = false %}

            {% for account in social_media_accounts %}
              {% assign setting = 'social_' | append: account | append: '_url' %}
              {% if settings[setting] != blank %}
                {% assign has_links = true %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if has_links %}
              <div class="footer-column footer-menu">
                <h4 class="footer-title footer-menu-title">{{ "general.social.social" | t }}</h4>
                <ul class="footer-menu-list social-footer">
             
                
                      <li class="footer-menu-list-item">
                     <a target="_blank" href="https://www.facebook.com/ManetiNL/"> <img src="https://cdn.shopify.com/s/files/1/0424/0982/0320/files/f_logo_RGB-White_72.png?v=1610383092" alt=""></a>
                     <li class="footer-menu-list-item">
                      <a target="_blank" href="https://instagram.com/maneti.nl?igshid=mjpf0gyjl0ko"> <img src="https://cdn.shopify.com/s/files/1/0424/0982/0320/files/Pngtree_white_instagram_icon_png_instagram_3562066_1.png?v=1610383193" alt=""></a>
                       
                       </li>
                      </li>
                      <li class="footer-menu-list-item">
                        <a target="_blank" href="https://vm.tiktok.com/ZScwMgwB/"> <img src="https://cdn.shopify.com/s/files/1/0424/0982/0320/files/tiktok-logo.png?v=1610376781" alt=""></a>
                         
                         </li>
                         
               
               
                </ul>
              </div>
            {% endif %}
          {% endif %}

          {% if block.type == 'richtext' %}
            <div class="footer-column footer-content">
              {% if block.settings.title != blank %}
                <h4 class="footer-title footer-content-title">
                  {{ block.settings.title | escape }}
                </h4>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="footer-content-text">
                  {{ block.settings.text }}
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="sub-footer">
      {%- assign currency_selector = section.settings.show_currency_selector -%}
      {%- assign locale_selector = section.settings.show_locale_selector -%}

      {% if currency_selector or locale_selector %}
        {% comment %}Inject @pixelunion/shopify-cross-border/cross-border begin{% endcomment %}
        {% form 'localization' %}
          {% if locale_selector and form.available_locales.size > 1 %}
            {% comment %}Inject @pixelunion/shopify-cross-border/multi-language begin{% endcomment %}
            <div class="selectors-form__item">
              <div class="disclosure" data-disclosure-locale>
                <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                  {{ form.current_locale.endonym_name }}
                </button>
                <ul id="lang-list" class="disclosure-list" data-disclosure-list>
                  {% for locale in form.available_locales %}
                    <li>
                      <a class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                        <span class="disclosure-list__option">{{ locale.endonym_name }}</span>
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
                <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
              </div>
            </div>
            {% comment %}Inject @pixelunion/shopify-cross-border/multi-language end{% endcomment %}
        
          {% endif %}
        
          {% if currency_selector and form.available_currencies.size > 1 %}
            {% comment %}Inject @pixelunion/shopify-cross-border/multi-currency begin{% endcomment %}
            <div class="selectors-form__item">
              <div class="disclosure" data-disclosure-currency>
                <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="currency-list" aria-describedby="currency-heading" data-disclosure-toggle>
                  {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                </button>
                <ul id="currency-list" class="disclosure-list" data-disclosure-list>
                  {% for currency in form.available_currencies %}
                    <li>
                      <a class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                        <span class="disclosure-list__option">{{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}</span>
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
                <input type="hidden" name="currency_code" id="CurrencySelector" value="{{ form.current_currency.iso_code }}" data-disclosure-input/>
              </div>
            </div>
            {% comment %}Inject @pixelunion/shopify-cross-border/multi-currency end{% endcomment %}
        
          {% endif %}
        {% endform %}
        {% comment %}Inject @pixelunion/shopify-cross-border/cross-border end{% endcomment %}

      {% endif %}

      <div role="contentinfo" class="footer-information">
        <p class="footer-copyright">
          {% capture year %}{{ "now" | date: "%Y" }}{% endcapture %}
          {{ 'general.general.copyright_text_html' | t: year: year }} {{ powered_by_link }}.
        </p>

        {% if shop.enabled_payment_types.size > 0 and section.settings.payment_icons %}
          <ul class="payment-icons">
            {% for type in shop.enabled_payment_types %}
              <li class="payment-icon">
                {{ type | payment_type_svg_tag }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </footer>
</div>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "Background style",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "enable_borders",
      "label": "Show borders",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "payment_icons",
      "label": "Show payment icons",
      "default": false
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "checkbox",
      "id": "show_logo",
      "label": "Show logo in footer",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Logo image",
      "info": "400 x 200px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "footer_logo_alternate",
      "label": "Inverted logo image",
      "info": "400 x 200px .png recommended"
    },
    {
      "type": "header",
      "content": "Language Selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency Selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu",
          "info": "This menu won't show dropdown items"
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social media links",
      "settings": [
        {
          "type": "paragraph",
          "content": "Configure your social media links under \"General settings\" in \"Social media\""
        }
      ],
      "limit": 1
    },
    {
      "type": "richtext",
      "name": "Rich text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Rich text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this section to welcome customers to your store, say a bit about your brand, or share news and seasonal promotions.</p>"
        }
      ],
      "limit": 1
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "menu",
        "settings": {
          "menu": "main-menu"
        }
      },
      {
        "type": "menu",
        "settings": {
          "menu": "footer"
        }
      }
    ]
  }
}

{% endschema %}