<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="static-header"
></script>
{% comment %}
  Changing `show_search` to `true` enables the Search in the header
{% endcomment %}
{% assign show_search = false %}

{% comment %}
  Removed the settings_schema option to change header,
    - header_navigation_location can be either header, or drawer.
{% endcomment %}
{% assign header_navigation_location = 'header' %}

{%- capture additional_classes -%}
  header

  {%- if header_navigation_location == 'drawer' -%}
    collapsed-navigation
  {%- endif -%}

  {% if section.settings.header_sticky %}
    sticky-header
  {% endif %}
{%- endcapture -%}

{% assign default_logo = section.settings.header_logo %}
{% assign alternate_logo = section.settings.header_logo_alternate %}
{% assign menu = section.settings.menu %}

{% comment %}Inject product-goal-enabled begin{% endcomment %}
{%- assign product_goal_enabled = false -%}
{%- assign product_goal = settings.product_goal | plus: 0 -%}
{%- assign product_goal_handle = settings.featured-product-main -%}
{%- if all_products[product_goal_handle].variants.first.inventory_management == "shopify" -%}
  {%- if settings.product_goal_starting_quantity != blank and settings.product-sale-goal-use -%}
    {%- if settings.product_goal != blank -%}
      {%- assign product_goal_enabled = true -%}
    {%- endif -%}
  {%- endif -%}
{%- endif -%}
{% comment %}Inject product-goal-enabled end{% endcomment %}

{% if product_goal_enabled %}
  {% render 'header-goal' %}
{% endif %}

{% assign logo_tag = 'div' %}
{% if template.name == 'index' %}
  {% assign logo_tag = 'h1' %}
{% endif %}

<div
  class="{{ additional_classes | strip_newlines }}"
  {% if section.settings.header_sticky %}
    data-sticky-header
  {% endif %}
  data-main-header="{{ header_navigation_location }}"
>
  <div class="main-header-wrapper">
    <div class="main-header" role="banner" data-header-content>
      <{{logo_tag}}
        class="
          branding
          {% if alternate_logo %}
            alternate-logo-in-drawer
          {% else %}
            regular-logo-in-drawer
          {% endif %}
          {% if default_logo %}
            has-logo
          {% endif %}
        "
      >
        <a class="branding-logo-link" href="{{ routes.root_url }}">
          {% render 'header-logos', default_logo: default_logo, alternate_logo: alternate_logo %}
        </a>
      </{{logo_tag}}>
      {% if show_search %}
        <div class="header-search-wrapper">
          <form class="header-search-form" action="{{ routes.search_url }}" method="get">
            <input class="header-search-input" name="q" type="text" placeholder="{{ 'general.general.search_placeholder' | t }}" value="">
          </form>
        </div>
      {% endif %}
      <div class="header-tools">
        {% if header_navigation_location == 'header' %}
          {%
            render 'navigation',
            navigation_menu: menu,
            navigation_id: 'header-navigation'
          %}
        {% endif %}
        <div class="header-actions">
          <div class="header-actions-list">
            {% if show_search %}
              <a class="header-actions-list-item header-search-toggle icon-search" href="#" data-search-toggle></a>
            {% endif %}
            {% if section.settings.show_cart %}
              <a class="header-actions-list-item icon-cart header-cart-link" href="{{ routes.cart_url }}"  tabindex="0">
                <span class="header-cart-count {% if cart.item_count > 0 %}active{% endif%}">{{ cart.item_count }}</span>
              </a>
            {% endif %}
            {% if header_navigation_location == 'header' %}
              {% if shop.customer_accounts_enabled %}
                <a class="header-actions-list-item header-account-link icon-head" href="{{ routes.account_url }}"></a>
              {% endif %}
            {% endif %}
            <a
              class="header-actions-list-item drawer-toggle"
              href="#header-drawer-popout"
              tabindex="0"
              data-drawer-toggle
              aria-controls="header-drawer-popout"
              aria-label="{{ 'general.general.menu' | t }}"
              aria-expanded="false"
            >
              <span class="icon-menu"></span>
              <span class="icon-cross"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="header-drawer"
    tabindex="-1"
    data-header-drawer
    id="header-drawer-popout"
  >
    {%
      render 'navigation',
      navigation_menu: menu,
      navigation_id: 'drawer-navigation'
    %}
    {% if shop.customer_accounts_enabled %}
      <a href="{{ routes.account_url }}" class="drawer-account-link button">{{ 'general.general.my_account' | t }}</a>
    {% endif %}
    {% if section.settings.drawer_social_icons %}
      <div class="drawer-social-icons">
        {% assign social_media_accounts = "facebook|twitter|pinterest|instagram|vimeo|youtube|rss" | split: "|" %}
        {% for account in social_media_accounts %}
          {% capture url %}social_{{ account }}_url{% endcapture %}
          {% if settings[url] != blank %}
            <a
              class="drawer-social-icon-{{ account }}"
              href="{{ settings[url] | escape }}"
              target="_blank">
              {{ account | capitalize }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% if template.name == "index" %} 
<script>
  

//  $(window).on("scroll", function() {
//   if($(window).scrollTop() > 35) {
// $(".branding-logo-image").attr("src", "https://cdn.shopify.com/s/files/1/0424/0982/0320/files/rsz_logo_zwart_200x59.png?v=1594679098");
// $(".branding-logo-image").attr("srcset", "https://cdn.shopify.com/s/files/1/0424/0982/0320/files/rsz_logo_zwart_200x59.png?v=1594679098");

    
//   } else {
   
//    $(".branding-logo-image").attr("src", "https://cdn.shopify.com/s/files/1/0424/0982/0320/files/logom.png?v=1594489068");
// $(".branding-logo-image").attr("srcset", "https://cdn.shopify.com/s/files/1/0424/0982/0320/files/logom.png?v=1594489068");
//   }
// });


</script>
{% endif %}
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "header_sticky",
      "label": "Enable fixed header",
      "info": "Only applies to desktop view",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "drawer_social_icons",
      "label": "Enable social icons in collapsed navigation",
      "default": false
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Logo image",
      "info": "400 x 200px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "header_logo_alternate",
      "label": "Inverted logo image",
      "info": "400 x 200px .png recommended"
    }
  ]
}

{% endschema %}