{% layout none %}

<!doctype html>
<html class="no-js" lang="en">

<script>document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');</script>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {% assign tab_index = 0 %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}
  {% render 'favicon' %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{ content_for_header }}

  {% render 'social-meta-tags' %}

  {% render 'scripts-styles-header' %}
</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
  {% section 'static-password' %}

  <div class="footer-wrapper">
    <footer class="main-footer">
      <div role="contentinfo" class="copyright footer-module">
        {% capture year %}{{ "now" | date: "%Y" }}{% endcapture %}
        {{ 'general.general.copyright_text_html' | t: year: year }} {{ powered_by_link }}.
      </div>
    </footer>
  </div>

  {% render 'scripts-styles-footer' %}

</body>
</html>
